<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UML BBS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="fullscreen">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab"></app-explore-container>

  <ion-button   fill="clear"  size="small" color="dark">
      Hot Topic</ion-button>
  <ion-button   fill="clear" size= "small" color="dark" >
        New Topic</ion-button>
 </ion-content>
